<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处为命名空间 即在可执行的代码中 你可以使用{命名空间}.{select语句的id值}来调用这个sql语句  此处也可以将命名空间改成他所对应的java接口文件-->
<mapper namespace="com.yzx.server.dao.BorrowRecordMapper">
  <!-- resultstype为返回值类型 可以直接指定基本类型 也可以使用类似于导包语句的com.xxx来导入一个java对象 -->

  <select id="getRecordsByCondition" resultType="BorrowRecord">
    SELECT br.*,bi.book_name, ui.account as user_name from book_info as bi JOIN borrow_record as br join user_info ui ON ui.id = br.user_id and bi.id = br.book_id
    <where>
      <if test="userId != -1">
        and br.user_id = #{userId}
      </if>

      <if test="bookId != -1">
        and br.book_id = #{bookId}
      </if>
       and br.approval_status =  0
       and br.deleted = 0
       limit #{start}, #{end}
  </where>
  </select>
  <select id="getRecordsCount" resultType="Long">
    SELECT count(*) from  borrow_record
    <where>
      <if test="userId != -1">
        and user_id = #{userId}
      </if>

      <if test="bookId != -1">
        and book_id = #{bookId}
      </if>
      and approval_status = 0
      and deleted = 0
    </where>

  </select>
</mapper>